/* 用来标明正在测试的区域：*/
.test {
  background-color: #ff00cc;
}
/**
 * variables
 */
@import 'variables';
/**
 * reset and common
 */
@import 'reset';
/**
 * header
 */
@import 'header';
/**
 * .main-content
 */
.main-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  z-index: 9;
  /*font-size能被后代元素继承：*/
  font-size: 1.6rem;
}
/**
 * category
 */
@import 'category';
/**
 * tasks
 */
@import 'task';
/**
 * main
 */
@import 'main';
/**
 * modal
 */
@import 'modal';
/**
 * mobile fit
 */
@media screen and (max-width: 770px) {
  @import 'mobileFit';
}