.main {
  @extend %border-box;
  position: absolute;
  top: 0;
  left: 500px;
  right: 0;
  bottom: 0;

  /*padding: 15px 10px 0 15px;*/
  input {
    border: 1px solid #e9e9e9;
    &:focus {
      border: 1px solid #e9e9e9;
    }
  }
}
.title {
  @extend %border-box;
  @extend %ruozhu-bg;
  height: 55px;
  line-height: 55px;
  overflow: hidden;
  font-weight: bold;
  position: relative;
  z-index: 5;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#todo-name {
  padding-left: 15px;
  float: left;
  font-size: 1.8rem;
}
.manipulate {
  font-size: 2.6rem;
  padding-right: 20px;
  float: right;
  a {
    margin-right: 15px;
    cursor: pointer;
  }
}

#task-date {
  @extend %border-box;
  @extend %boqing-bg;
  height: 55px;
  line-height: 55px;
  padding-left: 15px;
  position: relative;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
$btn-area-height: 34px;
$btn-area-from-bottom: 15px;
#content {
  @extend %border-box;
  position: absolute;
  top: 120px;
  right: 5px;
  left: 15px;
  overflow: auto;
}
/*#content再用不同的class分别代表两个状态：*/
.content {
  bottom: 0;
  white-space: pre;
}
.content-with-btn {
  bottom: $btn-area-height + $btn-area-from-bottom;
}
.input-title {
  padding: 7px 10px;
  margin-top: 10px;
  width: 244px;

  background: #5dac81;
}
.input-date {
  padding: 5px 10px;
  font-size: 1.6rem;

  background: #91b491;
}
.textarea-content {
  /*因为100%的textarea会胀大父元素：*/
  width: 98%;
  height: 97%;
  margin: 0; /* don't want to add to container size */
  border: 0; /* don't want to add to container size */
  resize: none;
  line-height: 1.6;
}
.button-area {
  display: none;
  position: absolute;
  bottom: $btn-area-from-bottom;
  right: 20px;
  button {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 8px 20px;
    margin-left: 15px;
    height: $btn-area-height;
  }
}
.save {
  @extend %qingci-bg;
}