.header {
  height: 44px;
  div {
    display: none;
    position: absolute;
    left: 15px;
    bottom: 10px;
    font-size: 1.6rem;
    color: #CFE8CC;
    font-weight: bold;
  }
  h1 {
    text-align: center;
    line-height: 44px;
    margin-left: 0;
    font-weight: bolder;
  }
}

.main-content {
  top: 44px;
  // 隐藏位置已超出100%宽度的部分：
  overflow:hidden;
}

%mobile-layout {
  width: 100%;
  left: 0;
  -webkit-transition: 0.3s  ease-in-out;
  transition: 0.3s  ease-in-out;
}
.category {
  @extend %mobile-layout;
  .active {
    background-color: transparent;
  } 
  .list {
    padding-left: 0;
    .fa-trash-o {
      display: inline-block;
      right: 10px;
    }
  }
}
.tasks {
  @extend %mobile-layout;
  .task-list {
    .active {
      background-color: transparent;
    }
    .fa-trash-o {
      display: inline-block;
      right: 10px;
    }
  } 
}
.main {
  @extend %mobile-layout;
  .title {
    height: 44px;
    line-height: 46px;
  }
  #task-date {
    height: 44px;
    line-height: 46px;
    padding-left: 15px;
  }
  .manipulate {
    padding-right: 0;
    a {
      margin-right: 10px;
    }
  }
  #content {
    top: 102px;
    bottom: 10px;
    right: 5px;
    left: 10px;
  }
}
// edit state:
.input-title {
    padding: 5px 10px;
    margin-top: 0;
}
.input-date {
  padding: 0 10px;
}
/**
 * modal
 */
$modal-width: 300px;
$modal-height: 190px;
$modal-padding: 5px;
.modal {
  width: $modal-width;
  height: $modal-height;
  padding: $modal-padding;
  margin-left: -$modal-width/2;
  margin-top: -$modal-height/2;
}
.cover2 {
  top: -999999px;
  width: 0;
  height: 0;
}
/**
 * animation
 */
.page-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.page-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.page-next-next {
  -webkit-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
}
.page-pre {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.page-pre-pre {
  -webkit-transform: translate3d(-200%, 0, 0);
  transform: translate3d(-200%, 0, 0);
}