//base-font-family
$base-ff: 'Microsoft YaHei', 'SimHei', 'STHeiti', sans-serif;

//".active" or ":hover" state colors：
$cateListActiveColor: #a8d8b9;
$statusBtnActiveColor: #5dac81;
$taskListActiveColor: #a8d8b9;
